/* *{
    background-color: blueviolet;
} */
body{
    font-size: 150%;    
}
.card{
height: 250px;
}
.cartgallery{
    width: 500px;
    border-radius: 40px;
}
.cartimage{

    padding: 20px;
    height: 100%;
    width: 400px;
    border-radius:35px;
    transition: all ease 0.5s;

}
.cartgallery > img:hover{
    width: 400px;
    height: 102%;
    scale: 1.1;
    z-index: 0;
  }

.total-section{
    background-color: rgb(109, 160, 207);
    width: 79vw;
    display: flex;
    /* padding: 20px; */
    text-align: center;
    color: white;
position: fixed;
bottom: 0px;
/* display: 'flex'; */
 justify-content: 'center';
 align-items: center;

  }
.finaltext{
    padding: 20px;
}